#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php/$1 [L]


#Server Zend Mulai ---------------------
#DirectoryIndex index.php
#RewriteEngine on
#RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond $1 !^(index\.php|robots\.txt)
#RewriteRule ^(.*)$ index.php?/$1 [L]
#Server Zend Selesai ---------------------

#Server Biasa Mulai ---------------------
RewriteEngine on
RewriteCond $1 !^(index\.php|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]
#Server Biasa Selesai ---------------------

#<IfModule mod_rewrite.c>
# RewriteEngine On
 #RewriteBase /
#RewriteCond %{REQUEST_URI} ^system.*
# RewriteRule ^(.*)$ /index.php?/$1 [L]
#RewriteCond %{REQUEST_URI} ^application.*
# RewriteRule ^(.*)$ /index.php?/$1 [L]
#RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ index.php?baseurl=$1 [QSA,L]
#</IfModule>
#<IfModule !mod_rewrite.c>
# ErrorDocument 404 /index.php
#</IfModule>

# mod_rewrite
#<IfModule mod_rewrite.c>
  # Enable mod_rewrite engine
 # RewriteEngine on

  # WITH 'www.'
  #RewriteCond %{HTTP_HOST} ^$uri\.$tld$ [NC]
  #RewriteRule ^(.*)$ http://www (link is external).$domain$1 [L,R=301]

  # WITOUT 'www.'
  #RewriteCond %{HTTP_HOST} ^www\.$uri\.$tld$ [NC]
  #RewriteRule ^(.*)$ http://$domain/$1 [L,R=301]
</IfModule>
